.box_datos{
  margin-top: 5vh;
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-around;
}
.date{

  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
}
.table{
  width: 17vw;
  border: 1px solid black;
  padding: 2vh;
  margin-top: 1px;
  background-color: white;
  border-radius: 14px;
}

.entry{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.entry h5{
  color: green;
}
.discharge{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discharge h5{
  color: brown;
}
.total{
  display: flex;
  justify-content: space-between;
  align-items: center;
}