.modal{
  width: 100vw;
  height: 100vh;
  /* background-color:#5c4e93;
  background-color: #5a88c2; */
  background: rgb(92,78,147);
  background: linear-gradient(90deg, rgba(92,78,147,1) 0%, rgba(90,136,194,1) 51%, rgba(131,236,238,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_login{
  width: 30vw;
  height: 85vh;
  background-color: #FFF;
  border-radius: 20px;
}
.img_cortes{
  width: 30vw;
  height: 32vh;
  display:  flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vh;
  margin-top: 2vh;
}
.img_cortes img{
  width: 20vw;
  height: 30vh;
}
.form form{
  width: 30vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form form p{
  font-family: 'Edu SA Beginner', cursive;
  font-weight: 400;
  font-size: 3vh;
  color: #051b7c;
}

.form input{
  border: 2px solid rgb(0, 0, 0);
  width: 15vw;
  height: 4vh;
  margin-bottom:3vh ;
  border-radius: 14px;
  text-align: center;
  padding: 1vh;
  
}
.form form button{
  border: none;
  background-color: cornflowerblue;
  width: 15vh;
  height: 7vh;
  border-radius: 14px;
  color: white;
}
.form button:active{
  border: 1px solid black;
  background-color: white;
  color: cornflowerblue;
}
