.nav_container{
  background: rgb(92,78,147);
  background: linear-gradient(90deg, rgba(92,78,147,1) 0%, rgba(90,136,194,1) 51%, rgba(131,236,238,1) 100%);
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
}
.nav_container img{
  width: 10vw;
  height: 9vh;
  z-index: 0;
}

.nav_container h1{
  position: absolute;
  width: 100vw;
  height: 10vh;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}
.btn_loguot{
  width: 5vw;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #87378e;
  border-radius: 14px;
  position: absolute;
  z-index: 0;
  left: 80vw;
  top: 1vh;
  color: white;
}

.btn_loguot:hover{
  width: 5vw;
  height: 7vh;
  border: 1px solid #87378e;
  background: none;
}

.vv{
  background-color: #5c4e93;
  color:#5a88c2; 
}