.container{
  width: 96vw;
  height: 45vh;
  margin-top: 3vh;
  border: 1px solid black;
  margin-left: 1vw;
  overflow:hidden;
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.445);
}
.title{
  text-align: center;
}

.entry_or_discharge{
  width: 98vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
  margin-bottom: 1vh;;
}
.containe_costCenter_and_all{
  width: 97vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
.center_class_concept{
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin-left: 5vw;
  gap: 1vh;
}
.center_class_concept h1{
  text-align: center;
}
.center_class_concept input{
  width: 15vw;
}
.center_class_concept select{
  width: 15vw;
}
.text_area{
  width: 40vw;
}
.container_btn_submit_entry_discharge{
  width: 100vw;
  display: flex;
  justify-content: center;

}
.btn_submit_entry_discharge{
  width: 5vw;
  height: 7vh;
  border: none;
  background-color: crimson;
  display: flex;
  justify-content:center ;
  align-items: center;
  border-radius: 14px;
  color: white;
}
.btn_submit_entry_discharge:hover{
  width: 5vw;
  height: 7vh;
  background-color: rgba(255, 255, 255, 0.445);
  border: 1px solid crimson;
  color: crimson;
}

.btn_submit_entry_discharge:active{
  opacity: 0;
}
