.box_datos_adm{
  margin-top: 5vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
}
.date{

  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
}
.table{
  width: 17vw;
  border: 1px solid black;
  padding: 2vh;
  margin-top: 1px;
  background-color: white;
  border-radius: 14px;
}

.entry{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.entry h5{
  color: green;
}
.discharge{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discharge h5{
  color: brown;
}
.total{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal_show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.836);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  width: 80vw;
  height: 80vh;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Additional styling for the modal content */
.modalContent h1 {
  margin-bottom: 10px;
}

.modalContent button {
  background-color: #ff0000;
  color: white;
  width: 3vw;
  height: 6vh;
  cursor: pointer;
  border-radius: 90%;
  position: absolute;
  left: 90vw;
  top: 4vh;
}
.form_create h1{
  margin-bottom: 2vh;
}